

// preset form values if we receive a userdata object //
- user = user

extends ../layout_p

block content

	nav.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				.navbar-brand(style='bgcolor:orange;color:darkblue;font-family:Arial Black;font-size:15.118px') wosap domain FioriBOM
			ul.nav.navbar-nav.navbar-right #{uid}
				li
					.navbar-btn#btn-logout.btn.btn-default(onclick="location.href='/home'")
						| back to home

	p  &nbsp;
	p &nbsp;
	p

	div.well
		h3 domain "FioriBOM"
			span.pull-right 12246 records
		p
		span Information about Fiori apps with links to the Fiori Reference apps library

		table.table.table-condensed.table-striped
			thead
				tr
					th category
					th(style="width:10%") count
					th
						table
							tr
								td synonyms
							tr
								td description
							tr
								td example values
			tbody

			tr
					td.cat_count AppKey
					td 12246 distinct values in 100.0% of records
					td
						table
							tr.cat_synonyms
								td &nbsp;
							tr.cat_description
								td a technical key, combination of appId and releaseId
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "/AIF/CUST/S6OP", "/AIF/EDCHANGES/S6OP", "/AIF/IFB/S6OP" ...
      
			tr
					td.cat_count ArtifactId
					td 3095 distinct values in 25.3% of records
					td
						table
							tr.cat_synonyms
								td component name, ui5 component name, library name, javascript name, javascript id, manifest id and appdescriptor id
							tr.cat_description
								td  for UI5 based applications, name of the UI5 Component, e.g. "ui.s2p.mm.supconf.monitors1". 
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "", "?", "ai.shl.edb", "an.aqd.querydesigner.manage" ...
      
			tr
					td.cat_count appId
					td 12246 distinct values in 100.0% of records
					td
						table
							tr.cat_synonyms
								td &nbsp;
							tr.cat_description
								td the Fiori appId, note that multiple records exists, as the same ID may change over time with verions
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "/AIF/CUST", "/AIF/EDCHANGES", "/AIF/IFB", "/AIF/IFMON", "/AIF/IFTEST" ...
      
			tr
					td.cat_count UITechnology
					td 12246 distinct values in 100.0% of records
					td
						table
							tr.cat_synonyms
								td UI Technology
							tr.cat_description
								td Indicates whether the application is GUI / WebDynpro / UI5 based
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "GUI", "UI5", "WebDynpro" or "WebDypnro"
      
			tr
					td.cat_count fiori intent
					td 11135 distinct values in 90.9% of records
					td
						table
							tr.cat_synonyms
								td fiori intents, intents and intent
							tr.cat_description
								td A combination of "#" <SemanticObject> - <Semanticaction> which appears in the URL of the Fiori Launchpad when addressing the application
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "#*-AnalyzeKPIDetials", "#*-analyzeKPIDetails", "#*-analyzeSBKPIDetails" ...
      
			tr
					td.cat_count AppName
					td 12243 distinct values in 100.0% of records
					td
						table
							tr.cat_synonyms
								td Fiori App
							tr.cat_description
								td Human legible Application name
							tr.cat_samplevalues
								td Possible values are ...
											br
											| (1): "ABC Analysis for Cycle Counting"
											br
											| (2): "AIF Configuration"
											br
											| (3): "ALE Master Data Distribution Routing"
											br
											| ...
      
			tr
					td.cat_count ApplicationComponent
					td 12246 distinct values in 100.0% of records
					td
						table
							tr.cat_synonyms
								td Application Component, Application components, ApplicationComponents, Support Component and Component
							tr.cat_description
								td Support component for the Frontend application, typically
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "AC-INT", "AP-MD-BP", "AP-MD-BP-UI", "AP-PPE", "BC-ABA-SC", "BC-BMT-OM" ...
      
			tr
					td.cat_count BSPName
					td 4645 distinct values in 37.9% of records
					td
						table
							tr.cat_synonyms
								td BSP, BSP Name and BSP repository
							tr.cat_description
								td Name of the Business Server Page 
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "(BSP not existing: NW_APS_APJ)", "/DDF/DDEL_MON", "/DDF/DDEL_PLAN" ...
      
			tr
					td.cat_count BSPApplicationURL
					td 4974 distinct values in 40.6% of records
					td
						table
							tr.cat_synonyms
								td BSP Path, BSP Url, BSP Urls and Resource Path
							tr.cat_description
								td url of the BSP application in an ABAP system, see BSP name for the technical storage  /sab/bc/ui5_ui5/.. 
							tr.cat_samplevalues
								td Possible values are ...
											br
											| (1): "/sap/bc/bsp/sap/MM_SUPPIV_REFS1"
											br
											| (2): "/sap/bc/bsp/sap/cpm_comm_mons1"
											br
											| (3): "/sap/bc/bsp/sap/sd_sva_s1"
											br
											| ...
      
			tr
					td.cat_count BusinessCatalog
					td 11032 distinct values in 90.1% of records
					td
						table
							tr.cat_synonyms
								td &nbsp;
							tr.cat_description
								td The SAP Business catalog which references the application in a "TechnicalCatalog" or "BackendCatalog" (for GUI/WDA transactions
							tr.cat_samplevalues
								td Possible values are ...
											br
											| (1): ":SAP_FIN_BC_CM_CASH_OPS, SAP_FIN_BC_CM_CASH_OPS_MC"
											br
											| (2): "RISK MANAGEMENT"
											br
											| (3): "SAP_ACS_BC_ADDRESSSCREENINGLIST"
											br
											| ...
      
			tr
					td.cat_count TechnicalCatalog
					td 12036 distinct values in 98.3% of records
					td
						table
							tr.cat_synonyms
								td &nbsp;
							tr.cat_description
								td Technical catalog, basic definition of "TargetMapping" and "Tile" for fiori (UI5) Applications
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "    SAP_SRM_TC_T  ", " SAP_IS_PS_TC_T", " SAP_RTL_TC_A" ...
      
			tr
					td.cat_count PrimaryODataServiceName
					td 4215 distinct values in 34.4% of records
					td
						table
							tr.cat_synonyms
								td ODataService, Primary OData Service, OData Service Name and OData Service
							tr.cat_description
								td OData service : Technical name of the OData Service operating on a Gateway server (and implemented in the R/3 Backend) serving data for UI5 based Fiori Apps
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "/AMR/OD_ALLOCATIONPLAN", "/AMR/OD_COMMON", "/AMR/OD_MARKETUNIT" ...
      
			tr
					td.cat_count ApplicationType
					td 12246 distinct values in 100.0% of records
					td
						table
							tr.cat_synonyms
								td Application Type
							tr.cat_description
								td Whether the application is classical or not
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "Analytical", "Analytical, Design Studio", "Analytical, FPM/WebDynpro" ...
      
			tr
					td.cat_count BSPPackage
					td 4647 distinct values in 37.9% of records
					td
						table
							tr.cat_synonyms
								td &nbsp;
							tr.cat_description
								td Package (DevClass) of the BSP Application
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "/DDF/UI5_ADU", "/DDF/UI5_EM", "/DDF/UI5_MRG", "AF_FND_ADHOC_ANALYTICS" ...
      
			tr
					td.cat_count BusinessGroupName
					td 4998 distinct values in 40.8% of records
					td
						table
							tr.cat_synonyms
								td &nbsp;
							tr.cat_description
								td Package (DevClass) of the BSP Application
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "FIN_BCG_GL_PERIOD_ACT", "NA", "Risk Management", "SAP_ACS_BCG_DETECTION" ...
      
			tr
					td.cat_count BusinessRoleName
					td 6116 distinct values in 49.9% of records
					td
						table
							tr.cat_synonyms
								td Business Role Name and Backend PFCG Role
							tr.cat_description
								td Package (DevClass) of the BSP Application
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "EMPLOYEE-SERVICE REQUEST (CRM)", "Internal Auditor", "Risk Manager" ...
      
			tr
					td.cat_count ExternalReleaseName
					td 5773 distinct values in 47.1% of records
					td
						table
							tr.cat_synonyms
								td &nbsp;
							tr.cat_description
								td External Release name
							tr.cat_samplevalues
								td Possible values are ...
											br
											| (1): "Delivery Date 01/2015 (SFIN 1.0)"
											br
											| (2): "Delivery Date 02/2015 (SFIN 1.0)"
											br
											| (3): "Delivery Q1/2014"
											br
											| ...
      
			tr
					td.cat_count FrontendSoftwareComponent
					td 12212 distinct values in 99.7% of records
					td
						table
							tr.cat_synonyms
								td &nbsp;
							tr.cat_description
								td Frontend Software Component
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "FSUI 400", "FSUI 500", "SAPSCORE 103", "SAPSCORE 104", "SAPSCORE 105" ...
      
			tr
					td.cat_count releaseName
					td 12246 distinct values in 100.0% of records
					td
						table
							tr.cat_synonyms
								td &nbsp;
							tr.cat_description
								td release name
							tr.cat_samplevalues
								td Possible values are ...
											br
											| (1): "Delivery Date 01/2015 (SFIN 1.0)"
											br
											| (2): "Delivery Q1/2015"
											br
											| (3): "Delivery Q1/2016"
											br
											| ...
      
			tr
					td.cat_count RoleName
					td 12079 distinct values in 98.6% of records
					td
						table
							tr.cat_synonyms
								td Role Name and PFCG Role
							tr.cat_description
								td  A business role name, e.g. "Purchaser", for a technical role (PFCG), try BusinessRoleName
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "Academic Advisor", "Access Control Administrator", "Accounts Payable Accountant" ...
      
			tr
					td.cat_count SemanticAction
					td 11369 distinct values in 92.8% of records
					td
						table
							tr.cat_synonyms
								td Semantic Action
							tr.cat_description
								td The second part of the "fiori intent", identifying the action, e.g. "maintain", "create" 
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "", "*", "AnalyzeForecastDemand", "AnalyzeKPIDetials", "AnalyzeLogs", "Approve" ...
      
			tr
					td.cat_count SemanticObject
					td 11375 distinct values in 92.9% of records
					td
						table
							tr.cat_synonyms
								td Semantic Object
							tr.cat_description
								td The first part of the "fiori intent", identifying the Business entity, e.g. "SalesOrder","GLAcount" used for generic navigation 
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "", "*", "ABOPRun", "ABOPSegment", "ABOPVariant", "APSLog", "APSMaterial", "APSOrder" ...
      
			tr
					td.cat_count TransactionCode
					td 8144 distinct values in 66.5% of records
					td
						table
							tr.cat_synonyms
								td Transactions, TransactionCode and TransactionCodes
							tr.cat_description
								td For GUI based transaction, the transaciton code behind intent, a classical R/3 SAPGUi transaction
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "/AIF/28000008", "/AIF/CUST", "/AIF/EDCHANGES", "/AIF/IFB", "/AIF/IFMON" ...
      
			tr
					td.cat_count uri
					td 12246 distinct values in 100.0% of records
					td
						table
							tr.cat_synonyms
								td &nbsp;
							tr.cat_description
								td link to fiori app reference library
							tr.cat_samplevalues
								td Possible values are ...
											br
											| (1): "https://fioriappslibrary.hana.ondemand.com/sap/fix/externalViewer/#/detail/Apps('/AIF/CUST')/S6OP"
											br
											| (2): "https://fioriappslibrary.hana.ondemand.com/sap/fix/externalViewer/#/detail/Apps('/AIF/EDCHANGES')/S6OP"
											br
											| (3): "https://fioriappslibrary.hana.ondemand.com/sap/fix/externalViewer/#/detail/Apps('/AIF/IFB')/S6OP"
											br
											| ...
      
		p   and 8 other categories
		| AppDocumentationLinkKW, BusinessGroupDescription, detailsurl, isPublished, LPDCustInstance, PrimaryODataPFCGRole, releaseId and URLParameters
       
		h3 Version
			a.small(href="/whatsnew")


block scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/settings.js')
