

// preset form values if we receive a userdata object //
- user = user

extends ../layout_p

block content

	nav.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				.navbar-brand(style='bgcolor:orange;color:darkblue;font-family:Arial Black;font-size:15.118px') wosap domain FioriBOM
			ul.nav.navbar-nav.navbar-right #{uid}
				li
					.navbar-btn#btn-logout.btn.btn-default(onclick="location.href='/home'")
						| back to home

	p  &nbsp;
	p &nbsp;
	p

	div.well
		h3 domain "FioriBOM"
			span.pull-right 12779 records
		p
		span 

		table.table.table-condensed.table-striped
			thead
				tr
					th category
					th(style="width:10%") count
					th
						table
							tr
								td synonyms
							tr
								td description
							tr
								td example values
			tbody

			tr
					td.cat_count AppKey
					td 12779 distinct values in 100.0% of records
					td
						table
							tr.cat_synonyms
								td &nbsp;
							tr.cat_description
								td a technical key, combination of appId and releaseId
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "/AIF/CUST/S6OP", "/AIF/EDCHANGES/S6OP", "/AIF/IFB/S6OP" ...
      
			tr
					td.cat_count ApplicationComponent
					td 12779 distinct values in 100.0% of records
					td
						table
							tr.cat_synonyms
								td Application Component, Application components, ApplicationComponents, Support Component and Component
							tr.cat_description
								td Support component for the Frontend application, typically
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "AC-INT", "AP-MD-BP", "AP-MD-BP-UI", "AP-PPE", "BC-ABA-SC", "BC-BMT-OM" ...
      
			tr
					td.cat_count ApplicationType
					td 12779 distinct values in 100.0% of records
					td
						table
							tr.cat_synonyms
								td &nbsp;
							tr.cat_description
								td Whether the application is classical or not
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "Analytical", "Analytical, Design Studio", "Analytical, FPM/WebDynpro" ...
      
			tr
					td.cat_count ArtifactId
					td 3833 distinct values in 30.0% of records
					td
						table
							tr.cat_synonyms
								td component name, ui5 component name, library name, javascript name, javascript id, manifest id and appdescriptor id
							tr.cat_description
								td  for UI5 based applications, name of the UI5 Component, e.g. "ui.s2p.mm.supconf.monitors1". 
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "?", "CreateIncident", "MyIncidents", "MySAPNotes", "NA", "SystemMonitoring" ...
      
			tr
					td.cat_count BSPApplicationURL
					td 5623 distinct values in 44.0% of records
					td
						table
							tr.cat_synonyms
								td BSP Path, BSP Url and Resource Path
							tr.cat_description
								td url of the BSP application in an ABAP system , see BSP name for the technical storage /sab/bc/
							tr.cat_samplevalues
								td Possible values are ...
											br
											| (1): "#DetectionMethod-managePredictiveRule"
											br
											| (2): "/sap/bc/bsp/sap/MM_SUPPIV_REFS1"
											br
											| (3): "/sap/bc/bsp/sap/cpm_comm_mons1"
											br
											| ...
      
			tr
					td.cat_count BSPName
					td 5148 distinct values in 40.3% of records
					td
						table
							tr.cat_synonyms
								td BSP, BSP Name and BSP repository
							tr.cat_description
								td Name of the Business Server Page 
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "/DDF/DDEL_MON", "/DDF/DDEL_PLAN", "/DDF/DSIM_EM", "/DDF/MRG_PUBGRP" ...
      
			tr
					td.cat_count BusinessCatalog
					td 10738 distinct values in 84.0% of records
					td
						table
							tr.cat_synonyms
								td &nbsp;
							tr.cat_description
								td The SAP BUsiness catalog which references the application in a "TechnicalCatalog" or "BackendCatalog" (for GUI/WDA transactions
							tr.cat_samplevalues
								td Possible values are ...
											br
											| (1): ":SAP_FIN_BC_CM_CASH_OPS, SAP_FIN_BC_CM_CASH_OPS_MC"
											br
											| (2): "RISK MANAGEMENT"
											br
											| (3): "SAP_ACS_BC_ADDRESSSCREENINGLIST, SAP_ACS_BC_ADDRESSSCREENINGLIST"
											br
											| ...
      
			tr
					td.cat_count PrimaryODataServiceName
					td 4603 distinct values in 36.0% of records
					td
						table
							tr.cat_synonyms
								td ODataService, Primary OData Service, OData Service Name and OData Service
							tr.cat_description
								td OData service : Technical name of the OData Service operating on a Gateway server (and implemented in the R/3 Backend) serving data for UI5 based Fiori Apps
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "/AMR/OD_ALLOCATIONPLAN", "/AMR/OD_COMMON", "/AMR/OD_MARKETUNIT" ...
      
			tr
					td.cat_count RoleName
					td 12602 distinct values in 98.6% of records
					td
						table
							tr.cat_synonyms
								td Role Name and PFCG Role
							tr.cat_description
								td  A business role name, e.g. "Purchaser", for a technical role (PFCG), try BusinessRoleName
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "Academic Advisor", "Access Control Administrator", "Accounts Payable Accountant" ...
      
			tr
					td.cat_count TechnicalCatalog
					td 12556 distinct values in 98.3% of records
					td
						table
							tr.cat_synonyms
								td &nbsp;
							tr.cat_description
								td Technical catalog, basic definition of "TargetMapping" and "Tile" for fiori (UI5) Applications
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "    SAP_SRM_TC_T  ", "    SAP_SRM_TC_T_X1  ", " SAP_IS_PS_TC_T" ...
      
			tr
					td.cat_count TransactionCodes
					td 5699 distinct values in 44.6% of records
					td
						table
							tr.cat_synonyms
								td &nbsp;
							tr.cat_description
								td For GUI based transaction, the transaciton code behind intent, a classical R/3 SAPGUi transaction
							tr.cat_samplevalues
								td Possible values are ...
											br
											| (1): "/SAPAPO/CDPS1, /SAPAPO/CDPS2, /SAPAPO/CDPS3, /SAPAPO/RPT"
											br
											| (2): "/SAPAPO/RPT"
											br
											| (3): "1KE4"
											br
											| ...
      
			tr
					td.cat_count fiori intent
					td 10370 distinct values in 81.1% of records
					td
						table
							tr.cat_synonyms
								td fiori intents, intents and intent
							tr.cat_description
								td A combination of "#" <SemanticObject> - <Semanticaction> which appears in the URL of the Fiori Launchpad when addressing the application
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "#*-AnalyzeKPIDetials", "#*-analyzeKPIDetails", "#*-analyzeSBKPIDetails" ...
      
		p   and 19 other categories
       
		h3 Version
			a.small(href="/whatsnew")


block scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/settings.js')
