

// preset form values if we receive a userdata object //
- user = user

extends ../layout_p

block content

	nav.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				.navbar-brand(style='bgcolor:orange;color:darkblue;font-family:Arial Black;font-size:15.118px') wosap domain GeneticDNA
			ul.nav.navbar-nav.navbar-right #{uid}
				li
					.navbar-btn#btn-logout.btn.btn-default(onclick="location.href='/home'")
						| back to home

	p  &nbsp;
	p &nbsp;
	p

	div.well
		h3 domain "GeneticDNA"
			span.pull-right 43 records
		p
		span an incomplte model of the Amino acids and associated DNA triples

		table.table.table-condensed.table-striped
			thead
				tr
					th category
					th(style="width:10%") count
					th
						table
							tr
								td synonyms
							tr
								td description
							tr
								td example values
			tbody

			tr
					td.cat_count Amino acid
					td 43 distinct values in 100.0% of records
					td
						table
							tr.cat_synonyms
								td &nbsp;
							tr.cat_description
								td Name encoding
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "Alanine", "Asparagine", "Glutamine", "Histidine", "Isoleucine", "Methionine" ...
      
			tr
					td.cat_count nucleotid sequence
					td 43 distinct values in 100.0% of records
					td
						table
							tr.cat_synonyms
								td &nbsp;
							tr.cat_description
								td triplet of nucleotids encoding this amino acid
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "AAC", "AAU", "ACA", "ACC", "ACG", "ACU", "AUA", "AUC", "AUG", "AUU", "CAA", "CAC", "CAG", "CAU", "CCA", "CCC", "CCG", "CCU", "CUA" ...
      
		h3 Version
			a.small(href="/whatsnew")


block scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/settings.js')
