

// preset form values if we receive a userdata object //
- user = user

extends ../layout_p

block content

	nav.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				.navbar-brand(style='bgcolor:orange;color:darkblue;font-family:Arial Black;font-size:15.118px') wosap domain IUPAC
			ul.nav.navbar-nav.navbar-right #{uid}
				li
					.navbar-btn#btn-logout.btn.btn-default(onclick="location.href='/home'")
						| back to home

	p  &nbsp;
	p &nbsp;
	p

	div.well
		h3 domain "IUPAC"
			span.pull-right 118 records
		p
		span 

		table.table.table-condensed.table-striped
			thead
				tr
					th category
					th(style="width:10%") count
					th
						table
							tr
								td synonyms
							tr
								td description
							tr
								td example values
			tbody

			tr
					td.cat_count atomic weight
					td 118 distinct values in 100.0% of records
					td
						table
							tr.cat_synonyms
								td element weight
							tr.cat_description
								td weigth of the element
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "101.07(2)", "102.905 50(2)", "106.42(1)", "107.8682(2)", "112.414(4)" ...
      
			tr
					td.cat_count element name
					td 118 distinct values in 100.0% of records
					td
						table
							tr.cat_synonyms
								td name and element
							tr.cat_description
								td element name
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "actinium", "aluminium", "americium", "antimony", "argon", "arsenic", "astatine" ...
      
			tr
					td.cat_count element number
					td 118 distinct values in 100.0% of records
					td
						table
							tr.cat_synonyms
								td &nbsp;
							tr.cat_description
								td weigth of the element
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "1", "10", "100", "101", "102", "103", "104", "105", "106", "107", "108", "109", "11", "110", "111", "112", "113", "114", "115", "116", "117" ...
      
			tr
					td.cat_count element symbol
					td 118 distinct values in 100.0% of records
					td
						table
							tr.cat_synonyms
								td symbol
							tr.cat_description
								td element symbol
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "Ac", "Ag", "Al", "Am", "Ar", "As", "At", "Au", "B", "Ba", "Be", "Bh", "Bi", "Bk", "Br", "C", "Ca", "Cd", "Ce", "Cf", "Cl", "Cm", "Cn", "Co", "Cr", "Cs", "Cu", "Db", "Ds", "Dy" ...
      
		h3 Version
			a.small(href="/whatsnew")


block scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/settings.js')
