

// preset form values if we receive a userdata object //
- user = user

extends ../layout_p

block content

	nav.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				.navbar-brand(style='bgcolor:orange;color:darkblue;font-family:Arial Black;font-size:15.118px') wosap domain Philosophers elements
			ul.nav.navbar-nav.navbar-right #{uid}
				li
					.navbar-btn#btn-logout.btn.btn-default(onclick="location.href='/home'")
						| back to home

	p  &nbsp;
	p &nbsp;
	p

	div.well
		h3 domain "Philosophers elements"
			span.pull-right 4 records
		p
		span Philosophical elements, a trivial model to create some ambiguities, notably "earth", which is also a key of the domain cosmos

		table.table.table-condensed.table-striped
			thead
				tr
					th category
					th(style="width:10%") count
					th
						table
							tr
								td synonyms
							tr
								td description
							tr
								td example values
			tbody

			tr
					td.cat_count element name
					td 4 distinct values in 100.0% of records
					td
						table
							tr.cat_synonyms
								td name
							tr.cat_description
								td name of the philosophical element
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "earth", "fire", "water" or "wind"
      
		p   and 1 other categories
		| element properties
       
		h3 Version
			a.small(href="/whatsnew")


block scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/settings.js')
