

// preset form values if we receive a userdata object //
- user = user

extends ../layout_p

block content

	nav.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				.navbar-brand(style='bgcolor:orange;color:darkblue;font-family:Arial Black;font-size:15.118px') wosap domain SAP Transaction Codes
			ul.nav.navbar-nav.navbar-right #{uid}
				li
					.navbar-btn#btn-logout.btn.btn-default(onclick="location.href='/home'")
						| back to home

	p  &nbsp;
	p &nbsp;
	p

	div.well
		h3 domain "SAP Transaction Codes"
			span.pull-right 6185 records
		p
		span An extract of SAP Basis transactions

		table.table.table-condensed.table-striped
			thead
				tr
					th category
					th(style="width:10%") count
					th
						table
							tr
								td synonyms
							tr
								td description
							tr
								td example values
			tbody

			tr
					td.cat_count devclass
					td 6185 distinct values in 100.0% of records
					td
						table
							tr.cat_synonyms
								td &nbsp;
							tr.cat_description
								td Development class (Package) in system
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "$TMP", "/ASU/MAIN", "/ASU/TOOLS", "/BAOF/EC_CENTRAL_SYSTEM" ...
      
			tr
					td.cat_count tcode
					td 6185 distinct values in 100.0% of records
					td
						table
							tr.cat_synonyms
								td &nbsp;
							tr.cat_description
								td SAP Transaction code
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "/ASU/MAINTAIN", "/ASU/SHOW_NOTE", "/ASU/SSM", "/ASU/START", "/ASU/UPGRADE" ...
      
			tr
					td.cat_count transaction description
					td 6185 distinct values in 100.0% of records
					td
						table
							tr.cat_synonyms
								td &nbsp;
							tr.cat_description
								td English text of the transaction
							tr.cat_samplevalues
								td Possible values are ...
											br
											| (1): ""
											br
											| (2): "(Obsolete) Address Management Call"
											br
											| (3): "(Obsolete) Communication Types"
											br
											| ...
      
		p   and 2 other categories
		| client and systemId
       
		h3 Version
			a.small(href="/whatsnew")


block scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/settings.js')
