

// preset form values if we receive a userdata object //
- user = user

extends ../layout_p

block content

	nav.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				.navbar-brand(style='bgcolor:orange;color:darkblue;font-family:Arial Black;font-size:15.118px') wosap domain TWF_countries
			ul.nav.navbar-nav.navbar-right #{uid}
				li
					.navbar-btn#btn-logout.btn.btn-default(onclick="location.href='/home'")
						| back to home

	p  &nbsp;
	p &nbsp;
	p

	div.well
		h3 domain "TWF_countries"
			span.pull-right 268 records
		p
		span a description of numerous facts about countries, courtesy of "The World Factbook", CIA

		table.table.table-condensed.table-striped
			thead
				tr
					th category
					th(style="width:10%") count
					th
						table
							tr
								td synonyms
							tr
								td description
							tr
								td example values
			tbody

			tr
					td.cat_count country
					td 268 distinct values in 100.0% of records
					td
						table
							tr.cat_synonyms
								td countries
							tr.cat_description
								td name of a country
							tr.cat_samplevalues
								td Possible values are ...
											br
											| "Afghanistan", "Akrotiri", "Albania", "Algeria", "American Samoa", "Andorra" ...
      
		p   and 191 other categories
		| ADMINISTRATIVE DIVISIONS, AFFILIATION, AGE STRUCTURE, AGRICULTURE - PRODUCTS, AIRPORTS, AIRPORTS - WITH PAVED RUNWAYS, AIRPORTS - WITH UNPAVED RUNWAYS, AREA, AREA - COMPARATIVE, BACKGROUND, BIRTH RATE, BROADCAST MEDIA, BUDGET, BUDGET SURPLUS (+) OR DEFICIT (-), CAPITAL, CARBON DIOXIDE EMISSIONS FROM CONSUMPTION OF ENERGY, CENTRAL BANK DISCOUNT RATE, CHILD LABOR - CHILDREN AGES 5-14, CHILDREN UNDER THE AGE OF 5 YEARS UNDERWEIGHT, CLIMATE, COASTLINE, COMMERCIAL BANK PRIME LENDING RATE, COMMUNICATIONS - NOTE, CONSTITUTION, CONTRACEPTIVE PREVALENCE RATE, COUNTRY NAME, CRUDE OIL - EXPORTS, CRUDE OIL - IMPORTS, CRUDE OIL - PRODUCTION, CRUDE OIL - PROVED RESERVES, CURRENT ACCOUNT BALANCE, DEATH RATE, DEBT - EXTERNAL, DEMOGRAPHIC PROFILE, DEPENDENCY RATIOS, DEPENDENCY STATUS, DEPENDENT AREAS, DIPLOMATIC REPRESENTATION FROM THE US, DIPLOMATIC REPRESENTATION IN THE US, DISPUTES - INTERNATIONAL, DISTRIBUTION OF FAMILY INCOME - GINI INDEX, DRINKING WATER SOURCE, ECONOMY - OVERVIEW, ECONOMY OF THE AREA ADMINISTERED BY TURKISH CYPRIOTS, EDUCATION EXPENDITURES, ELECTRICITY - CONSUMPTION, ELECTRICITY - EXPORTS, ELECTRICITY - FROM FOSSIL FUELS, ELECTRICITY - FROM HYDROELECTRIC PLANTS, ELECTRICITY - FROM NUCLEAR FUELS, ELECTRICITY - FROM OTHER RENEWABLE SOURCES, ELECTRICITY - IMPORTS, ELECTRICITY - INSTALLED GENERATING CAPACITY, ELECTRICITY - PRODUCTION, ELEVATION EXTREMES, ENVIRONMENT - CURRENT ISSUES, ENVIRONMENT - INTERNATIONAL AGREEMENTS, ETHNIC GROUPS, EXCHANGE RATES, EXECUTIVE BRANCH, EXPORTS, EXPORTS - COMMODITIES, EXPORTS - PARTNERS, fieldId, fieldName, FISCAL YEAR, FLAG DESCRIPTION, FRESHWATER WITHDRAWAL (DOMESTIC/INDUSTRIAL/AGRICULTURAL), GDP - COMPOSITION, BY END USE, GDP - COMPOSITION, BY SECTOR OF ORIGIN, GDP - PER CAPITA (PPP), GDP - REAL GROWTH RATE, GDP (OFFICIAL EXCHANGE RATE), GDP (PURCHASING POWER PARITY), GEOGRAPHIC COORDINATES, GEOGRAPHIC OVERVIEW, GEOGRAPHY - NOTE, GOVERNMENT - NOTE, GOVERNMENT TYPE, GROSS NATIONAL SAVING, HEALTH EXPENDITURES, HELIPORTS, HIV/AIDS - ADULT PREVALENCE RATE, HIV/AIDS - DEATHS, HIV/AIDS - PEOPLE LIVING WITH HIV/AIDS, HOSPITAL BED DENSITY, HOUSEHOLD INCOME OR CONSUMPTION BY PERCENTAGE SHARE, ILLICIT DRUGS, IMPORTS, IMPORTS - COMMODITIES, IMPORTS - PARTNERS, INDEPENDENCE, INDUSTRIAL PRODUCTION GROWTH RATE, INDUSTRIES, INFANT MORTALITY RATE, INFLATION RATE (CONSUMER PRICES), INTERNATIONAL LAW ORGANIZATION PARTICIPATION, INTERNATIONAL ORGANIZATION PARTICIPATION, INTERNET COUNTRY CODE, INTERNET HOSTS, INTERNET USERS, IRRIGATED LAND, JUDICIAL BRANCH, LABOR FORCE, LABOR FORCE - BY OCCUPATION, LAND BOUNDARIES, LAND USE, LANGUAGES, LEGAL SYSTEM, LEGISLATIVE BRANCH, LIFE EXPECTANCY AT BIRTH, LITERACY, LOCATION, MAJOR INFECTIOUS DISEASES, MAJOR URBAN AREAS - POPULATION, MANPOWER AVAILABLE FOR MILITARY SERVICE, MANPOWER FIT FOR MILITARY SERVICE, MANPOWER REACHING MILITARILY SIGNIFICANT AGE ANNUALLY, MAP REFERENCES, MARITIME CLAIMS, MARKET VALUE OF PUBLICLY TRADED SHARES, MATERNAL MORTALITY RATE, MEDIAN AGE, MEMBER STATES, MERCHANT MARINE, MILITARY - NOTE, MILITARY BRANCHES, MILITARY EXPENDITURES, MILITARY SERVICE AGE AND OBLIGATION, MOTHER'S MEAN AGE AT FIRST BIRTH, NATIONAL ANTHEM, NATIONAL HOLIDAY, NATIONAL SYMBOL(S), NATIONALITY, NATURAL GAS - CONSUMPTION, NATURAL GAS - EXPORTS, NATURAL GAS - IMPORTS, NATURAL GAS - PRODUCTION, NATURAL GAS - PROVED RESERVES, NATURAL HAZARDS, NATURAL RESOURCES, NET MIGRATION RATE, OBESITY - ADULT PREVALENCE RATE, PEOPLE - NOTE, PHYSICIANS DENSITY, PIPELINES, POLITICAL PARTIES AND LEADERS, POLITICAL PRESSURE GROUPS AND LEADERS, POLITICAL STRUCTURE, POPULATION, POPULATION BELOW POVERTY LINE, POPULATION GROWTH RATE, PORTS AND TERMINALS, PRELIMINARY STATEMENT, PUBLIC DEBT, RADIO BROADCAST STATIONS, RAILWAYS, REFINED PETROLEUM PRODUCTS - CONSUMPTION, REFINED PETROLEUM PRODUCTS - EXPORTS, REFINED PETROLEUM PRODUCTS - IMPORTS, REFINED PETROLEUM PRODUCTS - PRODUCTION, REFUGEES AND INTERNALLY DISPLACED PERSONS, RELIGIONS, RESERVES OF FOREIGN EXCHANGE AND GOLD, ROADWAYS, SANITATION FACILITY ACCESS, SCHOOL LIFE EXPECTANCY (PRIMARY TO TERTIARY EDUCATION), SEX RATIO, STOCK OF BROAD MONEY, STOCK OF DIRECT FOREIGN INVESTMENT - ABROAD, STOCK OF DIRECT FOREIGN INVESTMENT - AT HOME, STOCK OF DOMESTIC CREDIT, STOCK OF MONEY, STOCK OF NARROW MONEY, STOCK OF QUASI MONEY, SUFFRAGE, TAXES AND OTHER REVENUES, TELEPHONE SYSTEM, TELEPHONES - MAIN LINES IN USE, TELEPHONES - MOBILE CELLULAR, TELEVISION BROADCAST STATIONS, TERRAIN, TOTAL FERTILITY RATE, TOTAL RENEWABLE WATER RESOURCES, TRAFFICKING IN PERSONS, TRANSPORTATION - NOTE, UNEMPLOYMENT RATE, UNEMPLOYMENT, YOUTH AGES 15-24, UNION NAME, URBANIZATION and WATERWAYS
       
		h3 Version
			a.small(href="/whatsnew")


block scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/settings.js')
